
@{
    ViewBag.Title = "Group Roles";
    Layout = "~/Views/Shared/_Security.cshtml";
}

<div class="row">
    <div class="col-md-6">
        @*add avialble rolse partial*@
        @{Html.RenderAction("AvalaibleRolesPartial");}
    </div>


    <div class="col-md-6">
        @*add assigned roles partial*@
        @{Html.RenderAction("AssignedRolesPartial");}
    </div>
</div>
@section Scripts{

    <script src="~/Scripts/check-role.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ListTable').DataTable({
                'columnDefs': [{

                    'targets': [0,], /* column index */

                    'orderable': false, /* true or false */

                }]
            });
        });
    </script>
}
